.App {
  text-align: center;
  width: 750px;
  height: 750px;
  display: grid;
  grid-template-columns: 150px 450px 150px;
  grid-template-rows: 150px 450px 150px;
  margin: auto;
}

.piece {
  background-color: rgba(0,0,0,0);
  border-radius: 100%;
  box-sizing: border-box;
  position: absolute;
}
.piece:hover {
  box-shadow: 0px 0px 5px black;
}

.large {
  width: 150px;
  height: 150px;
  margin: 0px;
}
.medium {
  width: 100px;
  height: 100px;
  margin: 25px;
}

.small {
  width: 50px;
  height: 50px;
  margin: 50px;
}

.null {
  border: 10px solid lightgrey;
  box-shadow: 0px 0px 5px lightgrey;
}

.firebrick {
  border: 10px solid firebrick;
  box-shadow: 0px 0px 5px darkred;
}

.royalblue {
  border: 10px solid royalblue;
  box-shadow: 0px 0px 5px blue;
}

.darkgreen {
  border: 10px solid darkgreen;
  box-shadow: 0px 0px 5px darkolivegreen;
}

.darkorchid {
  border: 10px solid darkorchid;
  box-shadow: 0px 0px 5px darkmagenta;
}

.space {
  width: 150px;
  height: 150px;
}

.board {
  width: 450px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  grid-area: 2 / 2 / 3 / 3;
}

.player {
  display: flex;
  flex-wrap: wrap;
}

.one {
  width: 450px;
  height: 150px;
  grid-area: 3 / 2 / 4 / 3;
}

.two {
  width: 150px;
  height: 450px;
  grid-area: 2 / 3 / 3 / 4;
}

.three {
  width: 450px;
  height: 150px;
  grid-area: 1 / 2 / 3 / 3;  
}

.four {
  width: 150px;
  height: 450px;
  grid-area: 2 / 1 / 3 / 2;
}
