h1 {
  color: white;
  animation: glowtext 1.5s ease-in-out infinite alternate;
  font-size: 100px;
}
.App {
  text-align: center;
  min-width: 100vw;
  min-height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  font-family: 'Camcorder';
  background-image: linear-gradient(to bottom right, black 0%, black 25%,  #434343 150%);
}

.game {
  display: grid;
  grid-template-columns: 150px 450px 150px;
  grid-template-rows: 150px 450px 150px;
  margin: auto;
}
.stats {
  width: 300px;
  height: 100%;
  margin: auto;
}

.piece {
  border-radius: 100%;
  box-sizing: border-box;
  position: absolute;
}
.null:hover {
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #C62EF6, 0 0 40px #C62EF6
}

.large {
  width: 125px;
  height: 125px;
  margin: 12.5px;
}
.medium {
  width: 75px;
  height: 75px;
  margin: 37.5px;
}

.small {
  width: 25px;
  height: 25px;
  margin: 62.5px;
}

.null {
  border: 10px solid rgba(255,255,255,0.3);
  box-shadow: 0px 0px 5px rgba(1,1,1,0.5);
}

.firebrick {
  border: 10px solid firebrick;;
  box-shadow: 0px 0px 5px darkred;
}

.royalblue {
  border: 10px solid royalblue;
  box-shadow: 0px 0px 5px blue;
}

.darkgreen {
  border: 10px solid darkgreen;
  box-shadow: 0px 0px 5px darkolivegreen;
}

.darkorchid {
  border: 10px solid darkorchid;
  box-shadow: 0px 0px 5px darkmagenta;
}

.space {
  width: 150px;
  height: 150px;
}

.board {
  width: 450px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  grid-area: 2 / 2 / 3 / 3;
  background: black;
  border-radius: 60px;
  z-index: 1;
}

.player {
  display: flex;
  flex-wrap: wrap;
  background: black;
  border-radius: 60px 60px 60px 60px;
  animation: firebrick 1.5s ease-in-out infinite alternate;
}

.one {
  width: 450px;
  height: 150px;
  grid-area: 3 / 2 / 4 / 3;
}

.two {
  width: 150px;
  height: 450px;
  grid-area: 2 / 3 / 3 / 4;
}

.three {
  width: 450px;
  height: 150px;
  grid-area: 1 / 2 / 3 / 3;  
}

.four {
  width: 150px;
  height: 450px;
  grid-area: 2 / 1 / 3 / 2;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  animation: glowtext 1.5s ease-in-out infinite alternate;
}

.points-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  border: 1px solid white;
  color: white;
  animation: firebrick 1.5s ease-in-out infinite alternate;
}

.points-container h4, .points-container p {
  font-size: 25px;
  padding: 0;
  color: white;
  animation: glowtext 1.5s ease-in-out infinite alternate;
}

.score-container {
  display: flex;
  justify-content: space-around;
  color: white;
}

.Home {
  margin: auto;
}

.player-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 33vh;

}
.player-container div {
  color: white;
  font-size: 20px;
  border: 1px solid white;
  width: 100px;
  padding: 10px;
  animation: firebrick 1.5s ease-in-out infinite alternate;
}

@keyframes firebrick {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #C62EF6, 0 0 40px #C62EF6;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #C62EF6, 0 0 40px #C62EF6
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #C62EF6, 0 0 30px #C62EF6;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #C62EF6, 0 0 30px #C62EF6
  }
}

@keyframes glowtext {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #C62EF6, 0 0 40px #C62EF6;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #C62EF6, 0 0 30px #C62EF6;
  }
}

@media (max-width: 1100px) {
  .App {
    flex-direction: column;
    justify-content: space-around;
    padding: 3vh 0;
  }
}

